.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
}
.timer {
  display: flex;

  justify-content: center;
  align-items: center;
}

.field {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(118, 189, 247);
  width: 120px;
  height: 120px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

  border: 3px solid rgba(22, 45, 48, 0.432);
  border-radius: 40px;
  color: rgb(232, 240, 235);
  font-size: x-large;
}

.field:not(:last-child) {
  margin-right: 20px;
}

.value {
  font-size: 45px;
}

.label {
  color: rgba(1, 55, 136, 0.568);
}

.target-date {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  font-size: xx-large;
  color: rgba(1, 55, 136, 0.568);
}

.hope {
  position: absolute;
  left: 45%;
  margin: 0;
}
